:root {
  --primary-color: hsl(209, 61%, 16%);
  --accent-color: #c59d5f;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s linear;
}
@font-face {
  font-family: "Great vibes";
  src: url(./fonts/GreatVibes.ttf);
}

body {
  margin: 0;
  font-size: 14px;
  background-color: hsl(210, 36%, 96%);
  letter-spacing: 3px;
  font-family: "Open sans", sans-serif;
}

.section-center {
  width: 90vw;
  max-width: 620px;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.title {
  margin-top: 15vh;
  margin-bottom: 4rem;
}
h1 {
  text-transform: capitalize;
  text-align: center;
  color: var(--accent-color);
  font-family: "Great Vibes";
  font-size: 2.5rem;
}

.question {
  background-color: #fff;
  padding: 15px 30px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: var(--light-shadow);
}
.question-title {
  display: flex;
  justify-content: space-between;
}
h2 {
  text-transform: capitalize;
  color: var(--primary-color);
  font-weight: 100;
  font-size: 14px;
}

p {
  letter-spacing: normal;
  line-height: 1.5rem;
  color: hsl(210, 22%, 49%);
}

button {
  background-color: transparent;
  border: none;
  transition: var(--transition);
}
button:hover {
  cursor: pointer;
  rotate: 90deg;
}

i {
  color: var(--accent-color);
  font-size: 1.5rem;
}
.answer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 15px;
}
/* hide text */
.answer {
  display: none;
}
.show-answer .answer {
  display: block;
}
.minus-icon {
  display: none;
}
.show-answer .minus-icon {
  display: inline;
}
.show-answer .plus-icon {
  display: none;
}
